body {
    font-family: sans-serif;
    color: white;
    background-color: black;
    text-align: center;
}

.headline {
    text-align: center;
}

.buttons-container {
    text-align: center;
    margin-top: 40px; /* Dodaj margines na górę, aby oddzielić od treści */
}

.login-btn,
.register-btn,
.users-btn {
    display: block;
    width: 200px;
    padding: 8px;
    margin: 15px auto;
    font-size: 20px;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
}



a {
    color: white;
}

.contact-form {
    width: 100px;
}

.contact-form input {
    width: 200px;
    margin-bottom: 10px;
}

.contact-info {
    flex-grow: 1; /* Rozciągnij, aby zająć dostępną przestrzeń */
}

.delete-button {
    margin-left: 10px; /* Lub inna wartość, aby dostosować odstęp */
}

.contact-separator {
    margin-bottom: 40px;
}
