{% extends "base.html" %}

{% block title %}{{ title }}{% endblock%}

{% block content%}

  <h1>Dodaj nowy kontakt</h1>

<div class="back-button-container">
  <a href="{{ url_for('logged') }}">
    <button type="button" class="back-button">Cofnij</button>
  </a>
</div>
<br>

  <form method="POST" class="contact-form">
      <label for="name">Name</label>
      <input name="name" type="text"><br><br>
      <label for="last_name">Last name</label>
      <input name="last_name" type="text"><br><br>
      <label for="phone_number">Phone number</label>
      <input name="phone_number" type="text"><br><br>
      <label for="email">Email</label>
      <input name="email" type="text"><br><br>
      <label for="address">Address</label>
      <input name="address" type="text"><br><br>
      <button type="submit">Add contact</button>
  </form>

{% endblock %}
