{% extends "base.html" %}

{% block title %}{{ title }}{% endblock%}

{% block content%}

  <h1>Zmiana hasła</h1>

<div class="back-button-container">
  <a href="{{ url_for('logged') }}">
    <button type="button" class="back-button">Cofnij</button>
  </a>
</div>

  <form method="POST">
    <p>Stare hasło</p>
    <input name="old_password" type="password"><br><br>
    <p>Nowe hasło</p>
    <input name="new_password" type="password"><br><br>
    <p>Powtórz hasło</p>
    <input name="new_password_repeat" type="password"><br><br>
    <button type="submit">Zmień hasło</button>
  </form>

{% endblock %}
