{% extends "base.html" %}

{% block title %}{{ title }}{% endblock%}

{% block content%}

    <h2 class="headline">Twoje kontakty</h2><br>

<div class="back-button-container">
  <a href="{{ url_for('logged') }}">
    <button type="button" class="back-button">Cofnij</button>
  </a>
</div>


{% for contact in contacts %}
    <div class="contact-container">
        <div class="contact-info">
            <p>
                <a href="{{ url_for('user_profile', contact_id=contact[0]) }}">
                    {{ contact[1] }} {{ contact[2] }}
                </a>

            </p>
        </div>
        <div class="delete-button">
            <form method="post" action="{{ url_for('delete_contact', contact_id=contact[0]) }}">
                <button type="submit">Usuń</button>
            </form>
        </div>
    </div>
    <div class="contact-separator"></div>
{% endfor %}



{% endblock %}