<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Strona użytkownika</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="user-menu">
    <a href="{{ url_for('change_password_route') }}">Zmień hasło</a>
    <a href="{{ url_for('contacts') }}">Lista kontaktów</a>
    <a href="{{ url_for('add_new_contact') }}">Dodaj kontakt</a>
</div>


<script>
    document.getElementById('profile').addEventListener('click', function(e) {
        e.preventDefault();
        var profileMenu = document.getElementById('profile-menu');
        if (profileMenu.style.display === 'block') {
            profileMenu.style.display = 'none';
        } else {
            profileMenu.style.display = 'block';
        }
    });
</script>

</body>
</html>
