{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    <h2 class="headline">Profil użytkownika</h2><br>

    {% if user_info %}
        <p>Imię: {{ user_info[0][1] }}</p>
        <p>Nazwisko: {{ user_info[0][2] }}</p>
    {% endif %}

    {% if contact_info %}
        <p><strong>Phone: </strong>{{ contact_info[0] }}</p>
        <p><strong>Email: </strong>{{ contact_info[1] }}</p>
        <p><strong>Address: </strong>{{ contact_info[2] }}</p>
    {% endif %}

{% endblock %}

