{% extends "base.html" %}

{% block title %}{{ title }}{% endblock%}

{% block content%}



{% for i in users %}

    {{ i[1] }}
    <form action="/users" method="POST">
      <input type="hidden" name="id" value="{{ i[0] }}">
      <button type="submit" class="delete-user-btn">Usuń</button>
    </form>
    <br>
    <br>
{% endfor %}


<script>
  // Pobierz wszystkie przyciski "Usuń"
  const deleteButtons = document.querySelectorAll('.delete-user-btn');

  // Dodaj obsługę zdarzenia kliknięcia dla każdego przycisku "Usuń"
  deleteButtons.forEach(button => {
    button.addEventListener('click', () => {
      event.preventDefault();
      // Wyświetl okno dialogowe z pytaniem
      const confirmed = confirm("Czy na pewno chcesz usunąć tego użytkownika?");

      // Jeśli użytkownik potwierdzi, prześlij formularz do usunięcia użytkownika
      if (confirmed) {
        button.closest('form').submit();
      }
    });
  });
</script>

{% endblock %}